body {
    margin: 0;
    background-color: #1B244A;
    ;
}

.container {
    display: flex;
    justify-content: space-around;

    text-align: center;

    color: #EEEEEE;
}

.home {
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
/* identical to box height, or 90% */
}

.guest {
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}


.score-board {
    display: flex;
    justify-content: space-around;
}


.home-score-text {
    color:#F94F6D;
    width: 120px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    text-align: center;
    font-weight: 300px;
    font-size: 90px;
    line-height: 120px;
    background-color: black;
}

.guest-score-text {
    color:#F94F6D;
    width: 120px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    text-align: center;
    font-weight: 300px;
    font-size: 90px;
    line-height: 120px;
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: #1B244A;
}
.home-buttons {
    margin-left: 310px;
}

.guest-buttons {
    margin-right: 310px;
}